.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

._elipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

._vertical_align_middle_child {
    display: table-cell;
    vertical-align: middle;
}
